@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;0,700;1,500&family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.container {
  margin: 0 auto;
  width: calc(100% / 2);

  .video {
    width: 261.88px;
    max-width: 261.88px;

    video {
      width: 100%;
      border-radius: 8px;
    }
  }
}

// reset css
a {
  display: block;
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  outline: none;
}

button {
  border: none;
  background: none;
  outline: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

// scroll bar
::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}
